<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  >
  <h5 class="my-0 mr-md-auto font-weight-normal">Picture uploader</h5>
  <button class="btn btn-outline-primary logout"
          type="button"
          (click)="onLogoutButtonClicked()">
    Log out
  </button>
</div>
  
<div class="content" role="main">
  <form>
    <div class="input-group">
        <div class="custom-file">
          <input type="file"
                  accept="image/*"
                  class="custom-file-input"
                  name="image"
                  id="inputGroupFile04"
                  aria-describedby="inputGroupFileAddon04"
                  (change)="onFileSelected($event)">
          <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
        </div>
        <br><br>
        <button type="button"
                class="btn btn-lg btn-block btn-outline-primary"
                (click)="onUpload()"
                [disabled]="!selectedImage">
          Upload on server
        </button>
    </div>
  </form>
  
  <br>

  <div class="input-group">
    <div class="custom-file">
      <input type="text"
              class="form-control"
              name="imagePath"
              placeholder="Input picture name"
              [(ngModel)]="imageToShowPath">
    </div>
    <br><br>
    <button type="button"
            class="btn btn-lg btn-block btn-outline-primary"
            (click)="browsePicture()"
            [disabled]="!imageToShowPath">
      Browse picture
    </button>
  </div>
  
  <br>

  <div class="polaroid">
    <img [src]="imageToShow"
          alt="Image title"
          *ngIf="isLoaded"
          width="500"
          height="300"
          class="picture">
  </div>
</div>